.Tournament {
  width: 90%;
  margin: auto;
  .table {
    width: 90%;
    margin: auto;
    tbody {
      td:nth-child(8) {
        padding: 0rem 0.6rem;
        display: flex;
        align-content: center;
      }
      td:nth-child(9), td:nth-child(10), td:last-child {
        display: none;
      }
    }
    .table-btn {
      justify-content: center;
    }
  }
  .pagination .page-item.active .page-link {
    background-color: #B4F8C8;
    border-color: #B4F8C8;
  }
}