.PlayerRankings {
  width: 90%;
  margin: auto;
  .table {
    width: 90%;
    margin: auto;
    tbody {
      td:nth-child(6) {
        padding: 0rem 0.6rem;
        display: flex;
        align-content: center;
      }
      td:last-child {
        display: none;
      }
    }
    .table-btn {
      justify-content: center;
    }
  }
  .pagination .page-item.active .page-link {
    background-color: #B4F8C8;
    border-color: #B4F8C8;
  }
  // .table-striped tbody tr:nth-of-type(odd) {
  //   background-color: rgba(180,248,200,0.1) !important;
  // }
}